.header{
  background-image: url(/assets/images/sergey-sokolov-_g4MxOaBNvs-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.container{
  margin-top: 40px;
}
.img-logo{
  width: 100px;
}

.usersPhoto{
  width: 140px;
  height: 140px;
  justify-content: center;
}

.usuariosItem{
  margin-top: 5px;
}

.productosItem{
  margin-top: 5px;
}
