<section class="container vh-100">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-warning text-uppercase h6">Servicios</h2>
      <h3 class="text-capitalize">Precios bajos a tu alcance</h3>
      <p class="text-muted">
        Hoy en dia las personas viven con un ritmo
        acelerado debido al constante flujo que adquieren
        gracias a sus trabajos, lo que conlleva a generar un
        estres que se puede volver una carga. Nosotros como empresa
        . Tratamos de alivianar ese estres poniendo todos nuestros servicios
        a disposicion para que las personas puedan llegar a conocer los lugares
        que siempre quisieron visitar a precios mas bajos que la competencia.
      </p>
    </div>
    <!-- tarjetas -->

    <!-- tarjeta 1 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="./assets/images/aire.jpg" alt="Aire" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Aire</h4>
          <p>
            Contamos con las mejores Aerolineas para ofrecer al cliente
            una experiencia inolvidable.
          </p>
          <a href="#" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>

    <!-- tarjeta 2 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="./assets/images/bus.jpg" alt="Tierra" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Tierra</h4>
          <p>
            Tenemos buses ultimos modelos capaces de recorrer tramos de
            un extremo del pais al otro.
          </p>
          <a href="#" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>

    <!-- tarjeta 3 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="./assets/images/Cruicer.jpg" alt="Mar" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Mar</h4>
          <p>
            Ofrecemos a nuestros usuarios viajes en cruceros que van de mar a mar.
          </p>
          <a href="#" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>


  </div>
</section>
