<section class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-warning text-uppercase h6">Productos</h2>
      <h3 class="text-capitalize">Innovacion al alcance de tu mano</h3>
      <p class="text-muted">
        Hoy en dia se vive en una era donde la tecnologia
        evoluciona cada dia, para eso; necesitamos estar
        actualizados si queremos estar en sintonia con esta
        revolucion digital que estamos presenciando.
      </p>
    </div>
    <!-- tarjetas -->

    <!-- tarjeta 1 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="./assets/images/computer.jpg" alt="Computadores" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Computadores</h4>
          <p>
            Las computadores son los mejores compañeros a la hora de realizar
            cualquier trabajo.
          </p>
          <a href="#" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>

    <!-- tarjeta 2 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="./assets/images/cellphones.jpg" alt="Celulares" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Celulares</h4>
          <p>
            Los celulares son herramientas que nos ayudan a expresar nuestra creatividad
            y son capaces de conectarnos con personas alrededor del globo.
          </p>
          <a href="#" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>

    <!-- tarjeta 3 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="./assets/images/cameras.jpg" alt="Camaras" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Camaras</h4>
          <p>
            Las camaras nos permiten captar nuestra realidad para poder verla
            o mostrarsela a otros en otro momento.
          </p>
          <a href="#" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>


  </div>
</section>
