<body>
  <input type="checkbox" id="sidebar-toggle">
  <div class="sidebar">
    <div class="sidebar-header mt-4 ">
      <h3 class="brand">
        <span class="ti ti-unlink ml-2"></span>
        <span class="ml-2 mr-4"> ViajesUSB</span>
      </h3>
      <label for="sidebar-toggle" class="ti ti-menu-alt"></label>
    </div>

    <div class="sidebar-menu mt-5">
      <ul>
        <li>
          <a href="" [routerLink]="['/Dashboard']" routerLinkActive="router-link-active">
            <span class="ti ti-home"></span>
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/Dashboard/DestinoList']" routerLinkActive="router-link-active">
            <span class="ti ti-location-arrow"></span>
            <span>Destinos</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/Dashboard/TipoDestinoList']" routerLinkActive="router-link-active">
            <span class="ti ti-flag-alt"></span>
            <span>Tipos Destinos</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/Dashboard/ClienteList']" routerLinkActive="router-link-active">
            <span class="ti ti-face-smile"></span>
            <span>Clientes</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/Dashboard/TipoIdentificacionList']" routerLinkActive="router-link-active">
            <span class="ti ti-notepad"></span>
            <span>Tipos Identificacion</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="ti ti-close"></span>
            <span>Salir</span>
          </a>
        </li>
        <li>
          <a href="">
            <span></span>
            <span></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">

    <main>
      <form [formGroup]="form" fxLayout="row wrap" fxFlex="100" class="form">
        <h1>Creacion de Tipo Destino </h1>
        <div mat-dialog-content class="p-16 m-0" fxLayout="row wrap" fxFlex="100">
          <label for="Nombre">Ingrese el nombre del tipo destino: </label><br>
          <input matInput placeholder="tipoDestino." formControlName="nombre" required minlength="4"><br>
          <label for="Nombre">Ingrese el codigo del tipo destino: </label><br>
          <input matInput placeholder="Codigo" formControlName="codigo"><br>
          <label for="Nombre">Ingrese la descripcion del tipo destino: </label><br>
          <input matInput placeholder="descripcion" formControlName="descripcion"><br>
          <label for="Nombre">Ingrese su usuario creador: </label><br>
          <input matInput placeholder="usuario creador" formControlName="usuCreador"><br>
          <label for="Nombre">Ingrese su usuario modificador: </label><br>
          <input matInput placeholder="usuario modificador" formControlName="usuCreador"><br>
          <label for="Nombre">Elija su estado: </label><br>
          <mat-select formControlName="estado" >
            <mat-select [placeholder]="'Estados'"> </mat-select>
            <mat-option [value]="activo">A</mat-option>
            <mat-option [value]="inactivo">I</mat-option>
        </mat-select>
        </div>
        <div mat-dialog-actions class="m-2 p-16 finalButtons" fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
            <button fxFlex.xs="100"  mat-stroked-button class="cancelar" color="warn" [routerLink]="['/Dashboard/TipoDestinoList']" routerLinkActive="router-link-active">
                Cancelar
            </button>
            <button fxFlex.xs="100" class="crear" mat-stroked-button (click)="editarTipoDestino()" >
                Editar
            </button>
        </div>
    </form>

    </main>
  </div>

</body>
