.header{
  background-image: url(/assets/images/sergey-sokolov-_g4MxOaBNvs-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.img-logo{
  width: 100px;
}

.header::after{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.text-reset{
  margin-left: 10px;
  margin-right: 10px;
}

.botonCompra{
  margin-left: 0px;
}

.vh-50 {
  height: 50vmin;
}
