<title>Ingreso de usuarios</title>
<header class="header">
  <div class="container vh-50">
    <div class="login-box">
      <img src="../assets/logos/LogoUSBViajes.png" alt="img-loging" class="img-logo">
      <h1 class="text-reset">Ingrese aqui</h1>
      <form action="" #loginForm="ngForm">
        <label for="Usuario" class="texto">Usuario</label>
        <input [(ngModel)]="usuario" name="usuario" type="text" placeholder="Ingrese su nombre de usuario" class="user">

        <label for="Contraseña" class="texto">Contraseña</label>
        <input [(ngModel)]="contra" name="password" type="password" placeholder="Ingrese su Contraseña"  >

        <!-- (click)='s' -->
        <button type="submit" (click)="loggearse()" name="aceptar"class="boton">aceptar</button>
        <br>
        <a href="" class="links">¿Olvidaste tu contraseña?</a><br>
        <a href="" class="links">¿No tienes cuenta?. Registrate aqui</a>
      </form>

    </div>
  </div>
</header>
