<section class="container">
  <div class="row">
    <!-- Titles -->
    <div class="col-12 text-center marcasText">
      <h3 class="text-warning text-uppercase h6">Marcas</h3>
      <h2 class="text-capitalize">Nuestras marcas disponibles</h2>
    </div>

    <ul class="col-6 ">
      <li class="media d-flex justify-content-between">
        <img src="/assets/logos/apple.png" alt="apple" class="media-object-img">
        <div class="media-body">
          <h5 class="h6 mb-0 mb-1">Apple</h5>
          <h4 class="h5">
            <a routerLink="./main-administrador/main-administrador.ht" href="#" class="text-reset" >Computadores y celularest</a>
          </h4>
          <p>
            Apple es la marca top del momento debido a su constante innovacion en dispositivos.
          </p>
        </div>
      </li>

      <li class="media d-flex justify-content-between">
        <img src="/assets/logos/samsung.png" alt="Samsung" class="media-object-img">
        <div class="media-body">
          <h5 class="h6 mb-0 mb-1">Samsung</h5>
          <h4 class="h5">
            <a routerLink="./main-administrador/main-administrador.ht" href="#" class="text-reset" >Computadores y celularest</a>
          </h4>
          <p>
            Samsung es una marca coreana lider en el desarrollo de dispositivos android ademas de Computadores.
          </p>
        </div>
      </li>

      <li class="media d-flex justify-content-between">
        <img src="/assets/logos/xiaomi.png" alt="Xiaomi" class="media-object-img">
        <div class="media-body">
          <h5 class="h6 mb-0 mb-1">Xiaomi</h5>
          <h4 class="h5">
            <a routerLink="./main-administrador/main-administrador.ht" href="#" class="text-reset" >Computadores y celularest</a>
          </h4>
          <p>
            Xiaomi es la marca insignia en cuanto a innovacion y precios que van en relacion calidad/precio.
          </p>
        </div>
      </li>
    </ul>

    <ul class="col-6">
      <li class="media d-flex justify-content-between">
        <img src="/assets/logos/Asus.png" alt="Asus" class="media-object-img ">
        <div class="media-body">
          <h5 class="h6 mb-0 mb-1">Asus</h5>
          <h4 class="h5">
            <a href="" class="text-reset">Computadores y celulares</a>
          </h4>
          <p>
            Asus es una marca especializada tanto en Computadores como celulares.
          </p>
        </div>
      </li>

      <li class="media d-flex justify-content-between">
        <img src="/assets/logos/nikon.png" alt="Nikon" class="media-object-img ">
        <div class="media-body">
          <h5 class="h6 mb-0 mb-1">Nikon</h5>
          <h4 class="h5">
            <a href="" class="text-reset">Camaras</a>
          </h4>
          <p>
            Nikon es una empresa insignia en el campo de las camaras profesionales.
          </p>
        </div>
      </li>

      <li class="media d-flex justify-content-between">
        <img src="/assets/logos/Canon.png" alt="Canon" class="media-object-img ">
        <div class="media-body">
          <h5 class="h6 mb-0 mb-1">Canon</h5>
          <h4 class="h5">
            <a href="" class="text-reset">Camaras</a>
          </h4>
          <p>
            Desde 1986 haciendo posible lo imposible.
          </p>
        </div>
      </li>

    </ul>
  </div>
</section>
