.header{
  background-image: url(/assets/images/sergey-sokolov-_g4MxOaBNvs-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.img-logo{
  width: 100px;
}

.text-reset{
  margin-left: 10px;
  margin-right: 10px;
}
