<header class="header">
  <div class="container ">

    <!-- Navbar -->
    <nav class="row text-white justify-content-between align-items-center text-uppercase ">
      <!-- Logo -->
      <a href="#" class="col-auto text-reset">
        <img src="./assets/logos/Distriunidos fondo.png" alt="Logo Distriunidos" class="img-logo">
        Distriunidos
      </a>
      <!-- Anclas -->
      <div class="col-auto navegadores" >
        <a rotuerLink='/Inicio' class="text-reset pr-3">Inicio</a>
        <a href="#" class="text-reset pr-3">Acerca de Nosotros</a>
        <a href="#" class="text-reset pr-3">Productos</a>
        <a routerLink="/IngresoUsuarios" class="text-reset">Ingresar</a>
      </div>
    </nav>
    <!-- Descripcion -->

  </div>
</header>

<!-- routerLinkActive='active' -->
