<body>
  <input type="checkbox" id="sidebar-toggle">
  <div class="sidebar">
    <div class="sidebar-header mt-4 ">
      <h3 class="brand">
        <span class="ti ti-unlink ml-2"></span>
        <span class="ml-2 mr-4"> ViajesUSB</span>
      </h3>
      <label for="sidebar-toggle" class="ti ti-menu-alt"></label>
    </div>

    <div class="sidebar-menu mt-5">
      <ul>
        <li>
          <a href="" [routerLink]="['/Dashboard']" routerLinkActive="router-link-active">
            <span class="ti ti-home"></span>
            <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/Dashboard/DestinoList']" routerLinkActive="router-link-active">
            <span class="ti ti-location-arrow"></span>
            <span>Destinos</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/Dashboard/TipoDestinoList']" routerLinkActive="router-link-active">
            <span class="ti ti-flag-alt"></span>
            <span>Tipos Destinos</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/Dashboard/ClienteList']" routerLinkActive="router-link-active">
            <span class="ti ti-face-smile"></span>
            <span>Clientes</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/Dashboard/TipoIdentificacionList']" routerLinkActive="router-link-active">
            <span class="ti ti-notepad"></span>
            <span>Tipos Identificacion</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="ti ti-close"></span>
            <span>Salir</span>
          </a>
        </li>
        <li>
          <a href="">
            <span></span>
            <span></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">

    <main>
      <p class="opcion">la opcion seleccionada fue {{estado}}</p>
      <form [formGroup]="form" fxLayout="row wrap" fxFlex="100" class="form">
        <h1>Creacion de Tipo Identificacion </h1>
      <div mat-dialog-content class="p-16 m-0" fxLayout="row wrap" fxFlex="100">
        <label for="Nombre">Ingrese el nombre del tipo Identificacion: </label><br>
        <input matInput placeholder="Nombre" formControlName="nombre" required minlength="4"><br>
        <label for="Codigo">Ingrese el codigo del tipo Identificacion: </label><br>
        <input matInput placeholder="Codigo" formControlName="codigo"><br>
        <label for="Descripcion">Ingrese la descripcion del tipo Identificacion </label><br>
        <mat-select formControlName="estado" ><br>
          <mat-select [placeholder]="'Estados'"> </mat-select>
          <mat-option [value]="activo">A</mat-option>
          <mat-option [value]="inactivo">I</mat-option>
      </mat-select><br>
      <label for="usuCreador">Ingrese usuario creador </label><br>
      <input matInput placeholder="usuario creador" formControlName="usuCreador"><br>

      </div>
      <div mat-dialog-actions class="m-2 mt-4 p-16 finalButtons" fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
        <button fxFlex.xs="100"  mat-stroked-button class="cancelar" color="warn" [routerLink]="['/Dashboard/TipoIdentificacionList']" routerLinkActive="router-link-active">
            Cancelar
        </button>
        <button fxFlex.xs="100" class="crear" mat-stroked-button (click)="guardarTipoIdentificacion()" >
            Crear
        </button>
    </div>
    </form>
    </main>
  </div>

</body>
